---
import ProjectCard from './ProjectCard.astro';

// Updated technology color mapping with background colors
const techColors = {
  React: 'text-[#61DAFB] bg-[#61DAFB]',
  GSAP: 'text-[#88CE02] bg-[#88CE02]',
  ThreeJS: 'text-[#000000] dark:text-white bg-white dark:bg-gray-800',
  Tailwind: 'text-[#06B6D4] bg-[#06B6D4]',
  Vite: 'text-[#FFD62E] bg-[#FFD62E]',
  Javascript: 'text-[#F7DF1E] bg-[#F7DF1E]',
  Sass: 'text-[#CC6699] bg-[#CC6699]',
  Typescript: 'text-[#3178C6] bg-[#3178C6]',
};

// Add hover states for each technology
const hoverEffects = {
  React: 'hover:ring-[#61DAFB]/50',
  GSAP: 'hover:ring-[#88CE02]/50',
  ThreeJS: 'hover:ring-white/50',
  Tailwind: 'hover:ring-[#38B2AC]/50',
  Vite: 'hover:ring-[#646CFF]/50',
  Javascript: 'hover:ring-[#F7DF1E]/50',
  Sass: 'hover:ring-[#CC6699]/50',
  Typescript: 'hover:ring-[#3178C6]/50',
};

// Combine the tech colors with hover effects
const combinedTechStyles = Object.fromEntries(
  Object.entries(techColors).map(([key, value]) => [
    key,
    `${value} ${hoverEffects[key]} hover:ring-4 ring-offset-2 ring-offset-white dark:ring-offset-gray-800`,
  ])
);
---

<div class="grid gap-12 animate mt-8">
  <ProjectCard
    title="Apple Iphone 15"
    description="Clone of apple website using stunning 3D models and animations!"
    technologies={['React', 'GSAP', 'ThreeJS', 'Tailwind', 'Vite']}
    href="https://react-iphone15-clone.netlify.app/"
    imgSrc="/images/iphone_15.png"
    imgAlt="Project"
    techColors={combinedTechStyles}
  />
  <ProjectCard
    title="Shoes shop"
    description="Simple Nike website with some cool interactions!"
    technologies={['React', 'Tailwind', 'Vite']}
    href="https://nike-main-tailwind-react.netlify.app"
    imgSrc="/images/nike.png"
    imgAlt="Project"
    techColors={techColors}
  />
  <ProjectCard
    title="Forkify"
    description="MVC OOP Website with millions of recipes!"
    technologies={['Javascript', 'Sass']}
    href="https://forkrecipes.netlify.app/"
    imgSrc="/images/forkify.png"
    imgAlt="Portfolio"
    techColors={techColors}
  />
</div>
